*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orderOne>span{
    color: #FC8A06;
}
.regent>a{
    color: #FC8A06;
}
.home{
    background-color: #FC8A06;
}
.fastAndFresh{
    color: #FC8A06;
}